html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  background-color: rgba(255,255, 255, 0.5);
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#video{
 position: relative;
 /*background: transparent;*/
}

.ytplayer-container{
 position: absolute;
 top: 0;
 z-index: -1;
  
}
