html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;

  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
  position:absolute;
   left: 0px;
  top: 0px;
  /*background(transparent);*/
  mix-blend-mode: lighten;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  /*
  mix-blend-mode: normal|multiply|screen|overlay|darken|lighten|color-dodge|color-burn|difference|exclusion|hue|saturation|color|luminosity;
  */
}
#video-background{
   z-index: -1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
 
}
